{% extends "base.html" %}
{% block title %}Listings{% endblock %}
{% block content %}
<div class="container">
    <div class='listing_info'>
        {% if listing_info %}
        <h1>{{listing_info.street}}, {{listing_info.city}}, MI {{listing_info.zip_code}}</h1>
        <ul>
            <li><b>Address:</b> {{listing_info.formatted_address}}</li>
            <li><b>County:</b> {{listing_info.county_name}}</li>
            <li><b>State:</b> {{listing_info.state}}</li>
            <li><b>Estimated Value:</b> {{listing_info.estimated_value}}</li>
            <li><b>Equity:</b> {{listing_info.equity}}</li>
            <li><b>Published Debt:</b> {{listing_info.published_debt}}</li>
            <li><b>Date Debt Published:</b> {{listing_info.date_debt_published}}</li>
            <li><b>Foresclosure Sale Date:</b> {{listing_info.foreclosure_sale_date}}</li>
            <li><b>Redemption Period:</b> {{listing_info.redemption_period}}</li>
            <li><b>Mortgager Name:</b> {{listing_info.mortgagor_name}}</li>
            <li><b>Foreclosing Assignee Mortgee:</b> {{listing_info.foreclosing_assignee_mortgagee}}</li>
            <li><b>Date of Mortgage:</b> {{listing_info.date_of_mortgage}}</li>
            <li><b>Foreclosure Attorney:</b> {{listing_info.foreclosing_attorney}}</li>
        </ul>
        {% else %}
        <h1>Select address for listing info</h1>
        {% endif %}
    </div>

    <div class='listings'>
        {% if favorite_listings_lst %}
        <h1>Favorite Listings for {{current_user.user_name}}. <a href="{{url_for('listings', user_id=current_user.id)}}">Click here</a> to add more favorite listings.</h1>
        <table>
            <thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td><a href="{{url_for('favorites', user_id=current_user.id, listing_id=listing_info.id, sort_listing='city')}}"><b>City</b></a></td>
                    <!-- <td><b>City</b></td> -->
                    <td><a href="{{url_for('favorites', user_id=current_user.id, listing_id=listing_info.id, sort_listing='equity')}}"><b>Equity</b></a></td>
                    <td><a href="{{url_for('favorites', user_id=current_user.id, listing_id=listing_info.id, sort_listing='date_debt_published')}}"><b>Debt Published</b></a></td>
                    <td><a href="{{url_for('favorites', user_id=current_user.id, listing_id=listing_info.id, sort_listing='date_relisted_formatted')}}"><b>re listed</b></a></td>
                    <!-- <td><b>Equity</b></td>
                    <td><b>Debt Published</b></td>
                    <td><b>Relisted</b></td> -->
                    <!-- <td><b>County</b></td>
                    <td><b>Published Debt</b></td>
                    <td><b>Estimated Value</b></td>
                    <td><b>Equity</b></td>
                    <td><b>Date Published</b></td>
                    <td><b>Foreclosure Sale Date</b></td>
                    <td><b>Redemption Ends</b></td>
                    <td><b>Mortgage Info</b></td>
                    <td><b>Notes</b></td>
                    <td><b>Photos</b></td> -->
                </tr>
            </thead>
            <tbody>
                {% for favorite_listing in favorite_listings_lst|sort(attribute=sort_attribute, reverse=True) %}
                <tr>
                    <td><a href="{{url_for('remove_listing', user_id = current_user.id, listing_id=favorite_listing.id)}}">Remove</a></td>
                    <td class="street_column"><a href="{{url_for('favorites', user_id=current_user.id, listing_id=favorite_listing.id)}}">{{favorite_listing.street}}</a></td>
                    <td class="city_column">{{favorite_listing.city}}</td>
                    <td class="equity_column">{{favorite_listing.equity}}</td>
                    <td>{{favorite_listing.date_debt_published}}</td>
                    <td>{{favorite_listing.date_relisted_formatted}}</td>
                    <td>new listing!</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <h1>No favorite listings for {{current_user.user_name}}. <a href="{{url_for('listings', user_id=current_user.id)}}">Click here</a> to add favorite listings.</h1>
        
        {% endif %}
    </div>
</div>
{% endblock %}