{% extends "base.html" %}

{% block title %}User Account{% endblock %}

{% block content %}

<center>
    <h1>Account</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.user_name.label }}
            {{ form.user_name(size=32) }}<br>
            {% for error in form.user_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    <h2>Settings</h2>
    <p>{{ form.email_weekly() }} {{ form.email_weekly.label }}</p>
    <p>{{ form.user_setting_option1() }} {{ form.user_setting_option1.label }}</p>
    <p>{{ form.user_setting_option2() }} {{ form.user_setting_option2.label }}</p>
    <p>{{ form.submit() }}</p>
    </form>
    <br>
    <p>Reset password: <a href="{{ url_for('reset_password') }}">click here</a></p>

    <h2>re list premium listings</h2>
    <p>current status: "monthly or annual"</p>
    <p>number of active counties: 2</p>
    <p>period ends: subscription_ending_date</p>
    <p>account id: {{ current_user.id }}</p>
    <h4><a href="{{ url_for('manage_subscription', user_id=current_user.id) }}">Manage Subscription</a></h4>
    <br>
    <h7>Contact us if you have questions about your account: <a href="{{ url_for('contact') }}">click here</a></h7>
</center>

{% endblock %}
